---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

    <p class="post-meta">
      <span class="name">Carved:</span> {{ page.date | date: "%Y-%m-%d %H:%M"}}<br />
      <span class="name">Author:</span> <a class="page-link" href="/about.html">Jimmie Elvenmark</a><br />
      <span class="name">Follow:</span> <a href="https://github.com/flugsio">Github</a> &amp; <a href="https://www.twitter.com/flugsio">Twitter</a> <br />
      <span class="name">Source:</span> <a href="//previouscode.com">previouscode.com</a>
    </p>
</div>
